* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scrollbar-color: rgb(186 220 110) rgb(255 255 255 / 0%);
  scrollbar-width: thin;
}

body,
h1 {
  font-family: Rofora, serif;
  font-size: 24px;
  font-weight: 400;
}
